.catalog {
  display: flex;
  justify-content: center;
}

.catalog__wrapper {

}

.catalog__title {
  margin: 30px 0;

  font-size: 2.2rem;
  font-weight: 700;
}

.catalog__container {
  display: flex;
  gap: 15px;
}

.filters {
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-range {

}

.filter__title-container {
  height: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  background-color: $color-light-blue;
  border-radius: 4px;
  
  cursor: pointer;
}

.filter__name {
  font-size: 1rem;
  font-weight: 700;
}

.filter__show {
  font-size: 0.9rem;
}

.filter-range__numbers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  color: $text-color-medium;

  input {
    width: 110px;
    height: 45px;
    padding: 10px 10px 10px 20px;

    color: $text-color-medium;

    border: 1px solid $text-color-medium;
    border-radius: 4px;

    &::placeholder {
      color: $text-color-medium;
    }
  }
}

.filter-range__numbers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-range__input-container {

}

.filter-range__range {
  width: 100%;
}

.filters__confirm {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  color: $text-color-white;
  
  background: $color-blue;
  border-radius: 4px;

  transition: background-color $duration-fast linear;
  cursor: pointer;

  &:hover {
    background-color: $color-dark-blue;
  }

  &:active {
    transform: scale(0.98);
  }
}

.filter-checkbox {

}

.filter-checkbox__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-checkbox__label {

}

.filter-checkbox__checkbox {

}

.products {

}

.products__header {

}

.products__filters-list {

}

.products__sort-container {

}

.products__container {

}

.pagination {

}

.pagination__btn {

}