$body-color: #000;
$body-color2: #fff;

$extra-large: 1340px;
$large: 992px;
$medium: 768px;
$small: 576px;

/*Text*/

$text-color-darknes: #070C11;
$text-color-medium: #838688;
$text-color-white: #ffffff;