/*Adaptive points*/

$extra-large: 1340px;
$large: 992px;
$medium: 768px;
$small: 576px;

/*Text*/

$text-color-darknes: #070c11;
$text-color-medium: #838688;
$text-color-white: #ffffff;

/*Header-menu-item-color*/
$text-menu-item: #070C11;

/*Colors*/

$color-menu-burger: #EDF2F6;
$color-white: #ffffff;
$color-orange: #f37748;
$color-green: #22a44e;
$color-red: #f15152;
$color-menu: #0e1821;

$color-dark-blue: #243c53;
$color-blue: #4878a6;
$color-light-blue: #edf2f6;

$color-grey: #c8cAcb;
$color-light-grey: #eaeaf0;

/*Animation duration*/

$duration-fast: 200ms;
$duration-slow: 500ms;
$duration-very-slow: 800ms;