.catalog {
  display: flex;
  justify-content: center;
}

.catalog__wrapper {
  @media screen and (max-width: $small) {
    max-width: 72.8rem;
  }
}

.catalog__title {
  margin: 3rem 0;

  font-size: 3.5rem;
  font-weight: 700;
}

.catalog__container {
  display: grid;
  grid-template-columns: 31rem auto;
  gap: 1.5rem;

  @media screen and (max-width: $large) {
    grid-template-columns: auto;
  }
}