.catalog {
  display: flex;
  justify-content: center;
}

.catalog__wrapper {
  @media screen and (max-width: $small) {
    max-width: 72.8rem;
  }
}

.catalog__title {
  margin: 3rem 0;

  font-size: 3.5rem;
  font-weight: 700;
}

.catalog__container {
  display: grid;
  grid-template-columns: 31rem auto;
  gap: 1.5rem;

  @media screen and (max-width: $large) {
    grid-template-columns: auto;
  }
}

.filters {
  width: 31rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (max-width: $large) {
    display: none;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter__title-container {
  height: 4rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-light-blue;
  border-radius: 0.4rem;
}

.filter__name {
  font-size: 1.6rem;
  font-weight: 700;
}

.filter__show,
.products__sort-show {
  width: 1.3rem;
  height: 0.8rem;

  background-image: url(../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filter-range__numbers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  color: $text-color-medium;

  input {
    width: 11rem;
    height: 4.5rem;
    padding: 1rem 1rem 1rem 2rem;

    color: $text-color-medium;

    border: 0.1rem solid $text-color-medium;
    border-radius: 0.4rem;

    &::placeholder {
      color: $text-color-medium;
    }
  }
}

.filter-range__numbers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-range__range {
  width: 100%;
}

.filters__confirm {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 500;
  color: $text-color-white;
  
  background: $color-blue;
  border-radius: 0.4rem;

  transition: background-color $duration-fast linear;
  cursor: pointer;

  &:hover {
    background-color: $color-dark-blue;
  }

  &:active {
    transform: scale(0.98);
  }
}

.filter-checkbox__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-checkbox__label {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 400;
  color: $text-color-darknes;

  cursor: pointer;

  &::before {
    content: '';
  
    width: 2rem;
    height: 2rem;
    margin-right: 0.8em;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
  
    border: 0.1rem solid $text-color-medium;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.filter-checkbox__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked {
    +.filter-checkbox__label::before {
      border: none;
      background-image: url(../../assets/icons/checkbox.svg);
      background-size: inherit;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
}

.products__header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $small) {
    flex-direction: column;
    gap: 2rem;
  }
}

.products__filters-show {
  width: 17rem;
  height: 5rem;
  padding: 1rem;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 1.6rem;
  font-weight: 500;
  color: $text-color-white;

  background-color: $color-blue;
  border-radius: 0.4rem;

  cursor: pointer;

  &:hover {
    background-color: $color-dark-blue;
  }

  &:active {
    transform: scale(0.98);
  }

  @media screen and (max-width: $large) {
    display: flex;
  }

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

.products__filters-image {
  height: 2rem;
  width: 2rem;
  background-image: url(../../assets/icons/filter.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.products__filters-list {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: $large) {
    display: none;
  }
}

.current-filter__clear {
  text-decoration: underline;
  color: $color-red;

  font-size: 1.6rem;
  cursor: pointer;
}

.current-filter {
  width: fit-content;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.6rem;

  background-color: $color-light-blue;
  border-radius: 10rem;

  cursor: pointer;
}

.current-filter__remove {
  width: 1rem;
  height: 1.4rem;

  background-image: url(../../assets/icons/x.svg);

  cursor: inherit;
}

.current-filter__name {
  font-size: 1.5rem;
  font-weight: 400;
  color: $text-color-darknes;
}

.products__sort-container {
  width: 24rem;
  height: 5rem;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0.1rem solid $color-light-grey;
  border-radius: 0.4rem;

  font-size: 1.6rem;
  
  cursor: pointer;

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

.products__sort-title {
  color: $text-color-darknes;
}

.products__sort-show {
  transform: rotate(180deg);
}

.products__container {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;

  @media screen and (max-width: $small) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}

.pagination {
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination__btn,
.pagination__arrow {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.2rem;
  font-weight: 500;
  color: $color-blue;

  border: 0.1rem solid $color-light-grey;
  border-radius: 0.4rem;

  user-select: none;
}

.pagination__arrow {
  font-size: 2rem;
  font-weight: 400;
  color: $color-blue;

  border: 0.1rem solid $color-blue;
  border-radius: 0.4rem;
  cursor: pointer;

  &:active {
    color: $text-color-white;

    background-color: $color-blue;
  }

  &:hover:not(&:active) {
    background-color: $color-light-blue;
  }
}

.pagination__dots {
  font-size: 4.8rem;
  font-weight: 600;
}