<div class="menu-nav">
  <nav class="nav">
    <div class="burger-menu">
      <img src="../../../assets/images/svg/header/menu-icon.svg" alt="menu-icon.svg">
      <div class="menu-name">Каталог товаров</div>
    </div>
    <ul class="header__menu">
      <li class="menu-item"><a href="#">Product</a></li>
      <li class="menu-item"><a href="#">Product</a></li>
      <li class="menu-item"><a href="#">Product</a></li>
      <li class="menu-item"><a href="#">Product</a></li>
      <li class="menu-item"><a href="#">Product</a></li>
    </ul>
  </nav>
  <nav class="nav-header">
    <ul class="flex-row">
      <li><a href="#">Акции</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Только сегодня!</a></li>
    </ul>
  </nav>
</div>