@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-size: 10px;
  font-family: 'Exo 2';
}

html,
body {
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;

  cursor: default;
}

main {
  flex: 1 0 auto;
}

.wrapper {
  width: 100%;
  padding: 0 5rem;

  @media screen and (max-width: $large) {
    max-width: 70.28rem;
  }

  @media screen and (max-width: $small) {
    max-width: 28rem;
  }
}
