html {
  font-size: 16px;
  font-family: Exo;
}

.wrapper {
  width: 95%;
  max-width: 1300px;

  @media screen and (max-width: $large) {
    max-width: 728px;
  }

  @media screen and (max-width: $small) {
    max-width: 280px;
  }
}
