@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-family: 'Exo 2';
  font-size: 10px;
}

html,
body {
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;

  cursor: default;
}

main {
  width: 100%;
  max-width: 128rem;
  flex: 1 0 auto;
  margin: auto;
}

.wrapper {
  width: 95%;
  max-width: 130rem;
}
